<h1>{{title}}</h1>

<p>Final results</p>

        <span id="shirt"><img src="/images/shirt.png" alt="a {{res.color}} shirt containing the text: {{res.shirttext}} in the size {{res.size}} ">
            <p>{{{res.shirttext}}}</p>
        </span>
<br>
<p>Size: {{res.size}}</p>
<p>Color: {{res.color}}</p>
<br>

<a href="{{url}}">Edit</a>
<button>Confirm</button>